
- const { _ } = helpers;
- const pepBoys = _.reverse(['Manny', 'Moe', 'Jack']);

doctype html
html
  head
    title= site.title
    meta(name="author" content=site.author)
  body
    div!= contents
    ul The Pepboys
      each pepBoy in pepBoys
        li= pepBoy

    